@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-header-border-color: #cbd5e1;
    --nav-text: #ffffff;
    --nav-text-selection: #1e293b;
    --nav-text-selection-bg: #fdba74;
    --nav-bg: #1e293b;
    --nav-hover: #fb923c;

    --btn-text: #ffffff;
    --btn-pry: #0369a1;
    --btn-sec: #059669;
    --btn-info: #06b6d4;
    --btn-warn: #f59e0b;
    --btn-dng: #e11d48;
    --btn-text-hover: #ffffff;
    --btn-pry-hover: #0284c7;
    --btn-sec-hover: #10b981;
    --btn-info-hover: #22d3ee;
    --btn-warn-hover: #d97706;
    --btn-dng-hover: #f43f5e;
  }

  * {
    @apply transition duration-300 ease-linear selection:text-nav-selection selection:bg-nav-selection
  }

  .theme-dark-orange {
    --nav-header-border-color: #cbd5e1;
    --nav-text: #ffffff;
    --nav-text-selection: #1e293b;
    --nav-text-selection-bg: #fdba74;
    --nav-bg: #1e293b;
    --nav-hover: #fb923c;
  }

  .theme-red {
    --nav-header-border-color: #fecdd3;
    --nav-text: #ffffff;
    --nav-text-selection: #881337;
    --nav-text-selection-bg: #fda4af;
    --nav-bg: #881337;
    --nav-hover: #be123c;
  }

  .theme-emerald {
    --nav-header-border-color: #a7f3d0;
    --nav-text: #ffffff;
    --nav-text-selection: #065f46;
    --nav-text-selection-bg: #6ee7b7;
    --nav-bg: #064e3b;
    --nav-hover: #059669;
  }

  .theme-pastel {
    --nav-header-border-color: #E4DCCF;
    --nav-text: #576F72;
    --nav-text-selection: #576F72;
    --nav-text-selection-bg: #E4DCCF;
    --nav-bg: #F0EBE3;
    --nav-hover: #E4DCCF;
  }

  .theme-neon {
    --nav-header-border-color: #FF95C5;
    --nav-text: #FFF6CD;
    --nav-text-selection: #FF0000;
    --nav-text-selection-bg: #FF95C5;
    --nav-bg: #3B0000;
    --nav-hover: #FF95C5;
  }

  .theme-gold {
    --nav-header-border-color: #D4AC2B;
    --nav-text: #7E370C;
    --nav-text-selection: #B05E27;
    --nav-text-selection-bg: #D4AC2B;
    --nav-bg: #FFCE45;
    --nav-hover: #D4AC2B;
  }

  .theme-vintage {
    --nav-header-border-color: #9E7777;
    --nav-text: #F5E8C7;
    --nav-text-selection: #DEBA9D;
    --nav-text-selection-bg: #9E7777;
    --nav-bg: #6F4C5B;
    --nav-hover: #9E7777;
  }

  .theme-dark {
    --nav-header-border-color: #3E432E;
    --nav-text: #A7D129;
    --nav-text-selection: #616F39;
    --nav-text-selection-bg: #3E432E;
    --nav-bg: #000000;
    --nav-hover: #3E432E;
  }

  .theme-cold {
    --nav-header-border-color: #5584AC;
    --nav-text: #FAFFAF;
    --nav-text-selection: #95D1CC;
    --nav-text-selection-bg: #5584AC;
    --nav-bg: #22577E;
    --nav-hover: #5584AC;
  }

  .theme-sakura {
    --nav-header-border-color: #F9C5D5;
    --nav-text: #F2789F;
    --nav-text-selection: #F999B7;
    --nav-text-selection-bg: #F9C5D5;
    --nav-bg: #FEE3EC;
    --nav-hover: #F9C5D5;
  }
}

body {
  @apply bg-slate-100;
}

.active {
  @apply bg-nav-hover
}